.pagination {
  display: flex;
  list-style-type: none;
  margin: 20px 20px 0 0;
  padding: 0;
  justify-content: flex-end;
}

.page-item {
  height: 20px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  min-width: 20px;
  margin: 0;
}

.page-item:hover {
  background-color: rgba(225, 225, 225, 1);
}

.page-link:hover {
  text-decoration: none;
}

.currentPage {
  background-color: rgba(0, 135, 233, 1);
}

.currentPage .page-link{
  color: white;
}

