.ItemInfo {
  width: calc(100% - 80px);
  margin:  21px auto 0;
}
.ItemInfo_value {
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.ItemInfo_label {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}

.ItemInfo_description {
  font-weight: 400;
}

.ItemInfo_addButton {
  margin-top: 20px;
}

.ItemInfo_price {
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.ItemInfo_value-price {
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
